body{
    background-color: rgb(253, 93, 205);
    .vibur-regular {
        font-family: "Vibur", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      
}
.arrow-back{
    transform: rotate(180deg);
}